@{
    @model MyFluentBootstrap.Models.Product
    ViewBag.Title = "Detail";
}

<h2>详情</h2>
商品编号：@Model.ProductID
<br />
商品名称：@Model.ProductName
<br />
商品价格：@Model.DisplayPrice
<br />
上架时间：@Model.AddTime.ToString("yyyy-MM-dd")
<br />
@Html.Raw(Model.Content)