@{
    @model MyFluentBootstrap.Models.Product
    ViewBag.Title = "产品详情";
}

<h2>详情</h2>
产品编号：@Model.ProductID
<br />
产品名称：@Model.ProductName
<br />
使用车型：@Model.SuitCar
<br />
产品价格：@Model.DisplayPrice
<br />
上架时间：@Model.AddTime.ToString("yyyy-MM-dd")
<br />
@Html.Raw(Model.Content)