@{
    @model MyFluentBootstrap.Models.Product
    ViewBag.Title = "详情";
}

<h2>详情</h2>
产品编号：@Model.ProductID
<br />
产品名称：@Model.ProductName
<br />
刹车片类型:@Model.ProductType
<br />
适用车型：@Model.SuitCar
<br />
型号:@Model.CarXingHao
<br />
排量:@Model.PaiLiang
<br />
出厂年份:@Model.FactoryYear
@*<br />
产品价格：@Model.DisplayPrice
<br />
库存:@Model.Stock*@
<br />
录入时间：@Model.AddTime.ToString("yyyy-MM-dd")
<br />
@Html.Raw(Model.Content)